[Unit]
Description=Smoke Tracker running on Ubuntu

[Service]
WorkingDirectory=/home/davidtimovski/smoketracker
ExecStart=/usr/bin/dotnet /home/davidtimovski/smoketracker/SmokeTracker.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
KillSignal=SIGINT
SyslogIdentifier=dotnet-smoke-tracker
User=davidtimovski
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
