:root {
	--gray-color: #4d6276;
	--light-blue-color: #dfefff;
}

body,
html {
	font-family: 'Poppins', sans-serif;
	height: 100%;
	font-size: 18px;
	line-height: 24px;
	color: var(--gray-color);
}

a {
	color: #1e6eb0;
}

form label {
	display: block;
	margin-bottom: 5px;
}

.form-control {
	margin-bottom: 15px;
}

.form-control.submit {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	text-align: right;
}
.form-control.submit a {
	display: inline-block;
	background: #fff;
	border: 2px solid #00d1b2;
	border-radius: 5px;
	outline: none;
	padding: 6px 15px;
	text-decoration: none;
	user-select: none;
	color: #00d1b2;
}

.form-control input[type='text'],
.form-control input[type='password'] {
	width: 100%;
	border: 1px solid #888;
	border-radius: 5px;
	outline: none;
	padding: 3px 8px;
	font-size: inherit;
	line-height: inherit;
}

.form-control input[type='submit'] {
	background: #00d1b2;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 6px 15px;
	cursor: pointer;
	color: #fff;
}
.form-control input[type='submit']:disabled {
	opacity: 0.5;
}

.validation-alert {
	background: #fdd;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10%;
	text-align: center;
	font-size: 16px;
}

.alert {
	border-radius: 5px;
	padding: 15px;
	margin-top: 10%;
	text-align: center;
	font-size: 16px;
}

.alert.success {
	background: #dfd;
}

.alert.warning {
	background: #fec;
}
